In [1]:
import os
import json
import pandas as pd

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'desafio1.csv',
 'README.md',
 'Semana 3.ipynb',
 'submission.json']

In [3]:
df = pd.read_csv('desafio1.csv')

In [4]:
df.head(2)

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1

In [16]:
# Opening JSON file 
f = open('submission.json',) 
  
# returns JSON object as  
# a dictionary 
data = json.load(f)

In [17]:
data

{'PR': {'moda': 850,
  'mediana': 650,
  'media': 648.9612940496822,
  'desvio_padrao': 98.60718591309755},
 'RS': {'moda': 850,
  'mediana': 650,
  'media': 651.1051428571428,
  'desvio_padrao': 95.1365984138358},
 'SC': {'moda': 850,
  'mediana': 653,
  'media': 649.5376527422563,
  'desvio_padrao': 97.23349279343314}}

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   RowNumber                 7000 non-null   int64
 1   id                        7000 non-null   object
 2   sobrenome                 7000 non-null   object
 3   pontuacao_credito         7000 non-null   int64
 4   estado_residencia         7000 non-null   object
 5   genero                    7000 non-null   object
 6   idade                     7000 non-null   int64
 7   nivel_estabilidade        7000 non-null   int64
 8   saldo_conta               7000 non-null   float64
 9   numero_produtos           7000 non-null   int64
 10  possui_cartao_de_credito  7000 non-null   int64
 11  membro_ativo              7000 non-null   int64
dtypes: float64(1), int64(7), object(4)
memory usage: 656.4+ KB

In [8]:
df.estado_residencia.value_counts()

SC    3519
RS    1750
PR    1731
Name: estado_residencia, dtype: int64

In [9]:
df_1 = df[['estado_residencia', 'pontuacao_credito']]

In [10]:
solution = df_1.groupby('estado_residencia').agg([pd.Series.mode, 'median', 'mean',  'std'])

In [11]:
solution.columns = data['SC'].keys()

In [12]:
solution

                   moda  mediana       media  desvio_padrao
estado_residencia
PR                  850      650  648.961294      98.607186
RS                  850      650  651.105143      95.136598
SC                  850      653  649.537653      97.233493

In [13]:
data

{'SC': {'moda': 0.0, 'mediana': 0.0, 'media': 0.0, 'desvio_padrao': 0.0},
 'RS': {'moda': 0.0, 'mediana': 0.0, 'media': 0.0, 'desvio_padrao': 0.0},
 'PR': {'moda': 0.0, 'mediana': 0.0, 'media': 0.0, 'desvio_padrao': 0.0}}

In [14]:
submission = solution.to_dict('index')

In [15]:
with open('submission.json', 'w') as fp:
    json.dump(submission, fp)